.wait-hint-document-root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -unity-font-definition: url('project://database/Assets/Font/MSYH_UITK.asset');
}

.wait-hint-root {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 12%;
    width: 196px;
    min-width: 196px;
    max-width: 790px;
    height: 96px;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(3, 15, 11, 0.9);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgba(212, 175, 55, 0.76);
    border-right-color: rgba(212, 175, 55, 0.76);
    border-top-color: rgba(212, 175, 55, 0.76);
    border-bottom-color: rgba(212, 175, 55, 0.76);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
}

.wait-hint-title {
    width: 56px;
    flex-shrink: 0;
    color: #F4E8C0;
    font-size: 20px;
    -unity-font-style: bold;
    margin-right: 8px;
    -unity-text-align: middle-center;
}

.wait-list-scroll {
    flex-direction: row;
    height: 88px;
    flex-grow: 1;
}

.wait-list-scroll .unity-scroll-view__content-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.wait-item {
    align-items: center;
    width: 54px;
    height: 88px;
    flex-shrink: 0;
    justify-content: center;
}

.wait-item-image {
    width: 44px;
    height: 62px;
    background-color: #F7F3E8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -unity-background-scale-mode: scale-to-fit;
}

.wait-item-fan {
    color: #F2D675;
    font-size: 13px;
    -unity-font-style: bold;
    margin-top: 3px;
}
